{% if error_warning %}
<div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{% if payment_methods %}
<p>{{ text_payment_method }}</p>

<div class="d-flex justify-content-between w-100">
  {% for payment_method in payment_methods %}
    <div class="payment_card_col d-flex justify-content-center align-self-center" style="width: calc({{ 100/payment_methods|length }}% - 1rem);">
      <label class="label border w-100 text-center payment_card d-flex align-items-center justify-content-center">
        {% if payment_method.code == code or not code %}
          {% set code = payment_method.code %}
          <input type="radio" name="payment_method" class="d-none selected" value="{{ payment_method.code }}" checked="checked" onchange="check(this)" />
        {% else %}
          <input type="radio" name="payment_method" class="d-none" value="{{ payment_method.code }}" onchange="check(this)" />
        {% endif %}
          <div class="w-75">
            {{ payment_method.title }}
          </div>
        {% if payment_method.terms %}
          <div class="w-75">
            ({{ payment_method.terms }})
          </div>
        {% endif %}
       </label>
    </div>
  {% endfor %}
</div>

{% endif %}
<p class="mt-3"><strong>{{ text_comments }}</strong></p>
<p class="mt-3">
  <textarea name="comment" rows="5" class="form-control custom-border">{{ comment }}</textarea>
</p>
{% if text_agree %}
<div class="buttons">
  <div class="pull-right">
    {% if agree %}
    <input type="checkbox" name="agree" value="1" checked="checked" />
    {% else %}
    <input type="checkbox" name="agree" value="1" />
    {% endif %}
    
    {{ text_agree }}

    <input type="button" value="{{ button_continue }}" id="button-payment-method" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>
{% else %}
<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_continue }}" id="button-payment-method" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>
{% endif %}

<script type="text/javascript">
  
  create_border()
  
  function check(elm) {
    create_border(elm)
  }

  function create_border(elm = null) {
    console.log(elm)
    if(elm){
      if(elm.checked){
        Array.from(document.querySelectorAll('.payment_card')).forEach(label => {
          label.classList.remove('selected')
        })

        elm.parentElement.classList.add('selected')
      }
    }else{
      document.querySelector('.selected').parentElement.classList.add('selected')
    }
  }

</script>