{{ header }}
<div id="account-password" class="container-fluid">
  <div class="container">
    
    <ul class="breadcrumb d-flex justify-content-center">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
    <div class="row">{{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
      {% else %}
      {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }} py-5 mb-5">{{ content_top }}
        <h1 class="text-center">{{ heading_title }}</h1>
        <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">

          <fieldset>
          <legend class="small text-secondary text-center">{{ text_password }}</legend>

            <div class="row mt-3">
              <div class="col-10 offset-1 col-md-6 offset-md-3">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group required text-center">
                        <label class=" control-label" for="input-password">{{ entry_password }}</label>
                        <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />                      
                    </div>

                    {% if error_password %}
                      <div class="text-danger">{{ error_password }}</div>
                    {% endif %}
                      
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-group required text-center">
                
                         <label class=" control-label" for="input-confirm">{{ entry_confirm }}</label>  
                        <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control" />
                    
                        {% if error_confirm %}
                          <div class="text-danger">{{ error_confirm }}</div>
                        {% endif %}

                    </div>
                  </div>

                  <div class="col-12 col-md-6 offset-md-3">
                    <div class="buttons clearfix">
                      <div class="pull-right">
                        <input type="submit" value="Confirmar" class="btn btn-primary w-100" />
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>    
        </form>
        {{ content_bottom }}
      </div>
      {{ column_right }}
    </div>
  </div>
</div>
{{ footer }}