<div class="owl-carousel owl-theme" id="carousel{{ module }}">
    {% for banner in banners %}
      <div class="item">
        {% if banner.link %} 
          <a href="{{ banner.link }}">
            <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>
          {% else %}
            <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
          {% endif %}
      </div>
    {% endfor %}
</div>

<script type="text/javascript"><!--
 
  $(document).ready(function(){
    $('.owl-carousel').owlCarousel({
        loop:false,
        margin:20,
        nav:false,
        responsive:{
            0:{
                items:1
            },
            768:{
                items:3
            },
            1000:{
                items:5
            }
        }
    })
  })

//--></script>
