<div class="container my-5 py-3" id="carousel{{ module }}">
    <div class="row">
      {% for banner in banners %}
        <div class="col-12 col-lg-{{ col }} text-center">
          {% if banner.link %} 
            <a href="{{ banner.link }}">
              <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid" /></a>
            {% else %}
              <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid" />
            {% endif %}
        </div>
      {% endfor %}
    </div>
</div>