<footer>

  {% if not logged or not in_newsletter %}
    <div class="newsletter_wrapper pt-5 pb-4 bg-primary mb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-3 col-lg-6 mb-lg-0">
            <h3 class="text-center text-lg-left text-white mb-0">DESEJA RECEBER</h3>
            <h3 class="text-center text-lg-left text-lightpurple">DESCONTOS EXCLUSIVOS?</h3>
          </div>
          <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-12 col-lg-7 mb-3 mb-lg-0 pr-lg-0">
                <input type="text" name="newsletter_email" class="form-control border-radius-0" placeholder="Seu melhor email">
              </div>
              <div class="col-12 col-lg-5 mb-3 mb-lg-0">
                <button onclick="redirect()" class="btn btn-lightpurple w-100 border-radius-0"> <i class="fal fa-paper-plane"></i> Quero descontos</button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <small class="text-center text-white">
                  Ao concluir, você aceitará nossos <a href="#">Termos de uso</a> e <a href="#">Políticas de privacidade</a>. Desconto não aplicado para produtos da seleção. <a href="#">Confira o regulamento</a>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="container-fluid px-0">
    <div class="container">
      <div class="row">
        {% if informations %}
        <div class="col-sm-3 d-flex justify-content-center mb-3 mb-lg-0">
         <div class="text-center text-lg-left">
           <h6 class="mb-4 font-weight-bold">{{ text_information }}</h6>
           <ul class="list-unstyled">
            {% for information in informations %}
             <li class="mb-1"><a class="text-dark" href="{{ information.href }}">{{ information.title }}</a></li>
             {% endfor %}
           </ul>
         </div>
        </div>
        {% endif %}
        <div class="col-sm-3 d-flex justify-content-center mb-3 mb-lg-0">
         <div class="text-center text-lg-left">
           <h6 class="mb-4 font-weight-bold">{{ text_extra }}</h6>
           <ul class="list-unstyled">
             <li class="mb-1"><a class="text-dark" href="{{ voucher }}">{{ text_voucher }}</a></li>
             <li class="mb-1"><a class="text-dark" href="{{ special }}">{{ text_special }}</a></li>
             <li class="mb-1"><a class="text-dark" href="{{ affiliate }}">{{ text_affiliate }}</a></li>
             <li class="mb-1"><a class="text-dark" href="{{ return }}">{{ text_return }}</a></li>
           </ul>
         </div>
        </div>
        <div class="col-sm-3 d-flex justify-content-center mb-3 mb-lg-0">
          <div class="text-center text-lg-left">
            <h6 class="mb-4 font-weight-bold">Central de atendimento</h6>
            <ul class="list-unstyled">
              <li><a data-tel="true" data-telnumber="{{ telefone }}" class="text-dark">{{ telefone }}</a></li>      
              <li class="mb-3"><a href="mailto:{{ email }}" class="text-dark">{{ email }}</a></li>      
              <li class="mb-1 text-dark">{{ funcionamento }}</li>      
            </ul>
          </div>
        </div>
        <div class="col-sm-3 d-flex justify-content-center mb-3 mb-lg-0">
          <div class="text-center text-lg-left">
            <h6 class="mb-4 font-weight-bold">Siga-nos</h6>
            <ul class="list-unstyled d-flex">
              <li class="mb-1">
                <a href="{{ instagram }}" target="_blank" class="pr-3">
                  <i class="fab fa-instagram fa-2x social_media"></i>
                </a>
              </li>
              <li class="mb-1">
                <a href="{{ facebook }}" target="_blank" class="pr-3">
                  <i class="fab fa-facebook-f fa-2x social_media"></i>
                </a>
              </li>
              <li class="mb-1">
                <a href="{{ youtube }}" target="_blank" class="pr-3">
                  <i class="fab fa-youtube fa-2x social_media"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container my-5">
      <div class="row align-items-center">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0 d-flex justify-content-center">
          <img src="/" onerror="this.src = document.getElementsByTagName('base')[0].href + 'image/catalog/rodape/bandeiras.png'" class="img-fluid">
        </div>
        <div class="col-12 col-lg-4 mb-3 mb-lg-0 d-flex justify-content-center">
          <img src="/" onerror="this.src = document.getElementsByTagName('base')[0].href + 'image/catalog/rodape/seguranca.png'" class="img-fluid">
        </div>
        <div class="col-12 col-lg-4 mb-3 mb-lg-0 d-flex justify-content-center align-items-center">
            <div class="small mr-3 mt-2">
              DESENVOLVIDO POR: 
            </div>
            <a href="https://orions.com.br" target="_blank">
              <img src="/" onerror="this.src = document.getElementsByTagName('base')[0].href + 'image/catalog/rodape/logoorions.png'" class="img-fluid">
            </a>
        </div>
      </div>
    </div>

    <div id="disclaimer" class="pt-4 pb-4 mt-3">
      <div class="container">
        <p class="text-center">
          <img class="img-fluid" src="/" onerror="this.src = document.getElementsByTagName('base')[0].href + 'image/catalog/purplelogo.png'">
        </p>
        <p class="text-center mb-0">
          <small>
            {{ comments }}
          </small>
        </p>
      </div>
    </div>

  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

  <link href="catalog/view/javascript/font-awesome/css/all.min.css" rel="stylesheet" type="text/css" />
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  
  <script src="catalog/view/javascript/common.js"></script>

  <script type="text/javascript">
    document.querySelector('a[data-tel="true"]').href = 'tel:'+ document.querySelector('a[data-tel="true"]').getAttribute('data-telnumber').replace(/[^0-9\\.]+/g, '')

    const redirect = () => {
      const email_input = document.querySelector('input[name="newsletter_email"]')

      if(validateEmail(email_input.value)){
        {% if logged %}
          $.ajax({
            url: '{{ action_newsletter }}',
            type: 'post',
            data: {newsletter: '1', ajax: true},
            success: function(res){
              if(res['success']){
                $('#content').parent().before(`<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle mr-3"></i>${res['success']}<button type="button" class="close" data-dismiss="alert">&times;</button></div>`);

                $('.newsletter_wrapper').css({
                  'transition': 'all 2s',
                  'opacity': '0'
                })

                setTimeout(function(){
                   $('.newsletter_wrapper').hide()
                },2500)
              }
            }
          })
        {% else %}
          location.href = `{{ register }}?newsletter=true&email=${email_input.value}`
        {% endif %}
      }else{
        $('#content').parent().before('<div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-triangle mr-3"></i>Email inválido<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
      }
      
    }

    const validateEmail = email => {
      const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
  </script>

</body>
</html>