<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ title }}</title>

    <base href="{{ base }}" />

    {% if description %}
      <meta name="description" content="{{ description }}" />
    {% endif %}

    {% if keywords %}
      <meta name="keywords" content="{{ keywords }}" />
    {% endif %}

    {% for robot in robots %}
      <meta name="{{ robot.name }}" content="{{ robot.content }}" />
    {% endfor %}

    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com/" crossorigin>
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

    {% for style in styles %}
      <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
    {% endfor %}

    {% for script in scripts %}
      <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}

    <script src="catalog/view/javascript/common.js" type="text/javascript"></script>

    {% for link in links %}
      <link href="{{ link.href }}" rel="{{ link.rel }}" />
    {% endfor %}

    {% for analytic in analytics %}
      {{ analytic }}
    {% endfor %}

  </head>
  <body>
  <header>
    <div class="container py-4">
      <div class="row align-items-center">
        <div class="col-3">
          <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{%   else %}
            <h1><a href="{{ home }}">{{ name }}</a></h1>
            {% endif %}</div>
        </div>
        <div class="col-4">{{ search }}</div>
        <div class="col-3 d-flex justify-content-center">
          <div class="row align-items-center">
            <div class="col-3 d-flex alig-items-center flex-column justify-content-center">
              <i class="fas fa-user-circle text-white fa-2x"></i>
            </div>
            <div class="col-9 d-flex alig-items-center flex-column justify-content-center text-white small">
              <div>Meu perfil</div>
              <div>
                {% if logged %}
                  <a href="" class="text-white">Minha conta</a>
                {% else %}
                  <a href="{{ login }}" class="text-white">{{ text_login }}</a>
                  ou
                  <a href="{{ register }}" class="text-lightpurple">{{ text_register }}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 d-flex justify-content-end">{{ cart }}</div>
      </div>
    </div>
  </header>
{{ menu }}
