{% if categories %}
<div class="container navbar-mainmenu">
  <nav class="navbar navbar-expand-md navbar-light bg-light p-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav w-100 d-flex justify-content-center align-items-center">
        {% for category in categories %}
          {% if category.children %}
            <li class="nav-item dropdown px-3">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-{{ category.name }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onmouseover="$(this).parent().find('.dropdown-menu').show()" onmouseleave="$(this).parent().find('.dropdown-menu').hide()">
                {{ category.name }}
              </a>
              {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" onmouseover="$(this).show()" onmouseleave="$(this).hide()">
                  {% for child in children %}
                    <a class="dropdown-item" href="{{ child.href }}">{{ child.name }}</a>
                  {% endfor %}
                </div>
              {% endfor %}
            </li>
          {% else %}
            <li class="nav-item px-3">
              <a class="nav-link" href="{{ category.href }}">{{ category.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="nav-item">
          <a href="{{ special }}" class="nav-link">
            <span class="text-lightpurple">OFERTAS</span> <span class="text-purple">IMPERDÍVEIS</span>
          </a>
        </li>
        <li class="nav-item d-block d-md-none">
          <a href="{{ account }}" class="nav-link">
            Minha conta
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
{% endif %}